<h1>Blog Sites</h1>

<%= link_to 'New Blog Site', new_blog_site_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @blog_sites.each do |blog_site| %>
      <tr>
        <td><%= blog_site.name %></td>
        <td><%= blog_site.url %></td>
        <td>
          <%= link_to 'Show', blog_site %>
          <%= link_to 'Edit', edit_blog_site_path(blog_site) %>
          <%= link_to 'Delete', blog_site, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
